#{extends 'SecureLint/layout.html' /}

<div id="login">
	
	<h1>${play.configuration['application.name']}</h1>
	#{form @Lintity.resendPassword()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p id="username-field">
			<label for="username">&{'lint.email'}</label>
			<input type="text" name="email" id="email" value="" />
		</p>
		
		<p id="resend-field">
			<input type="submit" id="resend" value="Send" />
		</p>
	#{/form}
</div>