#{extends 'main.html' /}
<h2>Negociations</h2>
<table class="entity Negociation">
	<thead>
		<tr>
			<th><!-- actions --></th>
				<th>Product</th>
				<th>Author</th>
				<th>Created_at</th>
				<th>Updated_at</th>
				<th>Id</th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
				<a href="@{Negociations.show(entity.id)}">Show</a>&nbsp;
				<a href="@{Negociations.edit(entity.id)}">Edit</a>&nbsp;
				<a href="@{Negociations.delete(entity.id)}" onclick="if (!confirm('Are you sure you want to delete this record?')) return false;">Delete</a>
			</td>
					<td>${entity.product}</td>
					<td>${entity.author}</td>
					<td>${entity.created_at}</td>
					<td>${entity.updated_at}</td>
					<td>${entity.id}</td>
		</tr>
	#{/list}
	</tbody>
</table>
<a href="@{Negociations.create}">Create</a>

