#{extends 'Lint/layout.html' /}

<div id="login">
	
	<h1>${play.configuration['application.name']}</h1>
	#{form @Lintity.activateUser()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p id="password-field">
			<label for="password">&{'lint.password'}</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		<p id="password-field">
			<label for="passwordConf">Confirmation</label>
			<input type="password" name="passwordConf" id="passwordConf" value="" />
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="Save" />
		</p>
		<input type="hidden" name="token" id="token" value="${token}" />
	#{/form}
</div>