
#{extends 'main.html' /}
<h2>Contexts</h2>
<table class="table table-bordered">
	<thead>
		<tr>
			<th><!-- actions --></th>
				<th>Name</th>
				<th>Description</th>
		</tr>
	</thead>
	<tbody>
	#{list items:entities, as:'entity'}
		<tr>
			<td>
				<a href="@{Contexts.show(entity.contextID)}">Show</a>&nbsp;	
				<a href="@{Contexts.edit(entity.contextID)}">Edit</a>&nbsp;	
				<a href="@{Contexts.delete(entity.contextID)}">Delete</a>&nbsp;	
			</td>
			<td>${entity.name}</td>		
			<td>${entity.description}</td>			
		</tr>
	#{/list}
	</tbody>
</table>
<a href="@{Contexts.create()}">Create</a>&nbsp;	