#{extends 'main.html' /}
#{set title:'Home' /}

#{if helpers.Autority.isAdmin()}
	<p><a href="@{Apps.show}">View Application Info</a></p>
	<p><a href="@{Contexts.index}">Manage Contexts</a></p>
	<p><a href="@{Users.index}">Manage Users</a></p>
#{/if} 
#{else}
	<p><a href="@{Users.indexByContext}">Users</a></p>
	<p><a href="@{Products.index}">Products</a></p>
	<p><a href="@{Purchases.index}">Purchases</a></p>
	<p><a href="@{Types.index}">Types</a></p>
	<p><a href="@{Conditions.index}">Conditions</a></p>
#{/else}