
  <div class="label">Name</div>
  <div class="field">
      <input type="text" name="entity.userLagoon.name" value="${entity?.userLagoon?.name}"/>
  </div>
  <span class="error">${errors.forKey('entity.userLagoon..name')}</span>


  <div class="label">Email</div>
  <div class="field">
      <input type="text" name="entity.userLagoon.email" value="${entity?.userLagoon?.email}"/>
  </div>
  <span class="error">${errors.forKey('entity.userLagoon.email')}</span>

  <div class="label">Login</div>
  <div class="field">
      <input type="text" name="entity.userLagoon.login" value="${entity?.userLagoon?.login}"/>
  </div>
  <span class="error">${errors.forKey('entity.userLagoon.login')}</span>

  <div class="label">Profiles</div>
   <div class="field">
   	<select multiple='multiple' name="entity.profiles.profileID">
    		%{ profiles.sort{ it.toString() }.each() { }%
    		
          			%{ 
            			selected = false;
            			entity?.profiles.each() { f -> %}
            			
            			<p>coisas - ${it.profileID}<p>
            		%{
              			if (f.id == it?.id)
                		selected = true;
            		}
          			}%
          	
          			<option value="${it?.profileID}" ${selected ? 'selected'.raw() : ''}>${it.capFirst()}</option>
        		%{ } }%
    </select>
    </div>  	

  <div class="field">
      <input type="hidden" name="entity.id" value="${entity?.id}"/>
      <input type="hidden" name="entity.userLagoon.id" value="${entity?.userLagoon?.id}"/>
  </div>

  
 

  <span class="error">${errors.forKey('entity.id')}</span>

