#{extends 'Lint/layout.html' /}

<div id="login">
	
	<h1>${play.configuration['application.name']}</h1>
	#{form @Lint.authenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p id="username-field">
			<label for="username">&{'lint.username'}</label>
			<input type="text" name="username" id="username" value="${flash.username}" />
		</p>
		<p id="password-field">
			<label for="password">&{'lint.password'}</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		<p id="remember-field">
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<label for="remember">&{'lint.remember'}</label>
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="&{'lint.signin'}" />
			#{if !helpers.SubdomainChecker.currentSubdomain(request).equals("admin")}
				<a href="@{Lintity.register()}">Register</a>
			#{/if}
		</p>
	#{/form}
</div>